<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style>
        body {
            margin: 0;
            padding: 0;
            /*width:      21cm;*/
            font-family: Helvetica, sans-serif;
        }

        /* Printable area */
        #print-area {
            position: relative;
            top: 1cm;
            left: 1cm;
            /*width:      19cm;*/
            /*height:     22cm;*/

            font-size: 10px;
            font-family: Arial;
        }

        .row {
            clear: both;
        }

        .col {
            display: inline-block;
            border: 1px solid #CCCCCC;
            padding: 7px 11px;
            vertical-align: text-top;
        }

        .col:nth-of-type(n+2) {
            margin-left: 8px;
            margin-bottom: 8px;
        }

        .col b {
            padding-right: 15px;
            width: 120px;
            display: inline-block;
        }

        .big-col {
            height: 90px;
        }

        .big-col b, .big-col span {
            display: block;
            width: 100px;
        }

        .header {
            border: none;
            margin-left: 0;
            padding-left: 7px;
        }

        h2 {
            font-size: 12px;
            font-weight: bold;
            color: #333;
            margin: 0 0 3px;
        }

        .header-inline {
            font-size: 10px;
            color: #444444;
            display: inline-block;
        }

        .header-inline b {
            display: block;
            margin-bottom: 2px;
        }

        p {
            padding: 0;
            margin: 0 17px 8px 0;
        }

        .one-col {
            width: 900px;
            padding-bottom: 12px;
        }

        .t-and-c {
            line-height: 16px;
            margin-top: 250px;
        }

        .two-col {
            width: 432px;
        }

        .three-col {
            width: 276px;
        }

        .three-col b {
            width: 90px;
        }

        .grey-col {
            background-color: #EEEEEE;
        }

        .table {
            width: 920px;
            margin-bottom: 10px;
        }

        .table tr {
            height: 30px;
        }

        .table th, .table td {
            padding: 0 9px;
        }

        .table thead tr {
            background-color: #BBBBBB;
            color: #fff;
            font-weight: bold;
        }

        .table tbody tr {
            border: 1px solid #CCCCCC;
        }

    </style>
</head>
<body>
<div id="print-area" class="wrap">
{{CONTENT}}
</div>
</body>
</html>